doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.banner
      div.nameHolder
        img(src='/assets/sample_user_pic.png')
        h1 basketball stats
      div.tagline
        h1 we have all of you statistical needs for basketball
    if error
      h2 #{error}
    h1 #{title}
    a(href='/auth/google') login with google
    p
    a(href='/auth/facebook') login with facebook
    form(action='/auth/login' method='post')
      h2 login
      input(type='text', placeholder='username', name='username')
      input(type='password', placeholder='password', name='password')
      button(type='submit') submit
    form(action='auth/signup', method='post')
      h2 signup
      input(type='text', placeholder='username', name='username')
      input(type='password', placeholder='password', name='password')
      button(type='submit') signup
    

    
