doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(type='text/javascript', src='/javascript/bundle.js')
    
  body
    header
      h2.logo basketball stats app
      img(src='/assets/sample_user_pic.png', class='user-icon')
    div.dropDownMenu1
      a(href='/logout') logout
      p
      a(href='/profile') profile
    block content
