doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(type='text/javascript', src='/javascript/bundle.js')
    link(href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css')
    
  body
    header
      img.iconBig(src='/assets/icon_basketball.png')
      h1.appName basketball stats 
      nav
        ul
          li(class="drop")
            a(href="#") Menu
            div(class="dropdownContain")
              div(class="dropOut")
                ul
                  li
                    span
                      a(href="search") Search
                  li
                    span
                      a(href="profile") Profile
                  li
                    span
                      a(href="logout") Log Out
      img(src='/assets/sample_user_pic.png', class='user-icon')         						
    block content
