doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(type='text/javascript', src='/javascript/bundle.js')
    
  body
    header
      h2.logo basketball stats app
      nav
        ul
          li(class="drop")
            a(href="#") Menu
            div(class="dropdownContain")
              div(class="dropOut")
                ul
                  li
                    span
                      a(href="search") Search
                  li
                    span
                      a(href="profile") Profile
                  li
                    span
                      a(href="/") Log Out
      img(src='/assets/sample_user_pic.png', class='user-icon')         						
    block content
