doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h2.logo basketball stats app
      img(src='/assets/sample_user_pic.png', class='user-icon')
    block content
