doctype html
html
  head
    title=preferences
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1=Please choose your statistics preferences from the following:
    section
      div
        ul.stat
          li stat1
          li stat2
          li stat3
          li stat4
          li stat5
          li stat6
          li stat7
          li stat8
          li stat9
          li stat10
          li stat11
          li stat12
          li stat13
          li stat14
          li stat15
          li stat16
    section.nav
      button.back (action='/preferences' type='submit') back
      button.next (action='/profile' type='submit') next
