doctype html
html
  head
    title= basketstats
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 please set you preferences
    form(method='post', action='/preferences')
      br
      label Choose a Stat
      checkboxes.preferencesList 
        
        label  Box Score Statistics 
        input.stat1(type='checkbox', name='boxScore', value="1")
        
        label  Average Offense and Defense Efficiency 
        input.stat2(type='checkbox', name='compareEff' value="2")
        
        label Defense Efficiency 2015 Season View
        input.stat3(type='checkbox', name='deffEffOverTime', value="3")
        
        label  Jump, Hook, and Layup Shot Chart
        input.stat4(type='checkbox', name='shotCharts', value="4")
        
        label  SportVU Stats
        input.stat5(type='checkbox', name='SportsVu', value="5")
        
        label  Four Factor Stats
        input.stat6(type='checkbox', name='team4factor', value="6")
        
        label  Offensive Efficiency 2015 Season View
        input.stat7(type='checkbox', name='offEffOverTime', value="7")
        
        label  Points Breakdown History
        input.stat8(type='checkbox', name='teamMisc', value="8")
        br 
        label  Missed vs Made Shots History
        input.stat9(type='checkbox', name='missHit', value="9")
        br 
        label Location of Shots History
        input.stat10(type='checkbox', name='shooting', value="10")
        br
        button(type='submit') Set Stat Preferences
