doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 please set you preferences
    form(method='post', action='/preferences')
      br
      label Choose a Stat
      checkboxes.preferencesList 
        
        label  Box Score Statistics 
        input.stat1(type='checkbox', name='stat1', value="1")
        
        label  Average Offense and Defense Efficiency 
        input.stat2(type='checkbox', name='stat2' value="2")
        
        label  Average Offense and Defense Efficiency Season View
        input.stat3(type='checkbox', name='stat3', value="3")
        
        label  Missed, Jump, and Layup Shots
        input.stat4(type='checkbox', name='stat4', value="4")
        
        label  SportVU Stats
        input.stat5(type='checkbox', name='stat5', value="5")
        
        label  Four Factor Stats
        input.stat6(type='checkbox', name='stat6', value="6")
        
        label  Points Breakdown
        input.stat7(type='checkbox', name='stat7', value="7")
        
        label  statistic 8
        input.stat8(type='checkbox', name='stat8', value="8")
        br 
        label  statistic 9
        input.stat9(type='checkbox', name='stat9', value="9")
        br 
        label statistic 10
        input.stat10(type='checkbox', name='stat10', value="10")
        br
        button(type='submit') Set Stat Preferences
