doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 please set you preferences
    form(method='post', action='/preferences')
      br
      label Choose a Stat
      checkboxes.preferencesList 
        label  statistic 1
        input.stat1(type='checkbox', name='stat', value="1")
        br
        label  statistic 2
        input.stat2(type='checkbox', name='stat' value="2")
        br 
        label  statistic 3
        input.stat3(type='checkbox', name='stat', value="3")
        br
        label  statistic 4 
        input.stat4(type='checkbox', name='stat', value="4")
        br 
        label  statistic 5
        input.stat5(type='checkbox', name='stat', value="5")
        br 
        label  statistic 6
        input.stat6(type='checkbox', name='stat', value="6")
        br
        label  statistic 7
        input.stat7(type='checkbox', name='stat', value="7")
        br 
        label  statistic 8
        input.stat8(type='checkbox', name='stat', value="8")
        br 
        label  statistic 9
        input.stat9(type='checkbox', name='stat', value="9")
        br 
        label statistic 10
        input.stat10(type='checkbox', name='stat', value="10")
        br
        button(type='submit') Set Stat Preferences
