doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    extends layout

    h1
    h1 #{user.displayName}
    a(href='/logout') logout

    section.userInfo
      h1
      h2 Statistical Preferences:
      //unordered list with li of category with stats in them
        ul.statPreferences
          li.category1
            radio.stat1
            radio.stat2
            radio.stat3
          li.category2
            radio.stat4
            radio.stat5
            radio.stat6
          li.category3
            radio.stat7
            radio.stat8
            radio.stat9
          li.category4
            radio.stat10
            radio.stat11
            radio.stat12
          li.category5
            radio.stat13
            radio.stat14
            radio.stat15
          li.category6
            radio.stat16
      h2 Betting History:
      //unordered list with li for individual bets,
        ul.betHistory
          li.bet1
          li.bet2
          li.bet3
          li.bet4
          li.bet5
          li.bet6
          li.bet7
          li.bet8
      h2 Account Balance:
        p.userBalance
        //user balance object could go here #{user.balance}
