extends layout

block content
    //img application icon
    //h1 application name
    section.userInfo
      h1.username Username: #{user.username} 
    //img
    section.statPreferences
      div.prefContainer
        h1 Current Preferences
        div.currentPrefContainer
          each preference in preferences
            span.currentPref #{preference.name} 
          
    
      div.statContainer
        h2.title Statistical Preferences:
        form(class='stats statUpdate' method='post' action='/profile')
          label Change your stat preferences
          checkboxes.preferencesListProfile 
            br
            label.1 statistic 1
            input.stat1(type='checkbox', name='stat1')
            br
            label.2  statistic 2
            input.stat2(type='checkbox', name='stat2')
            br
            label.3  statistic 3
            input.stat3(type='checkbox', name='stat3')
            br
            label.4  statistic 4 
            input.stat4(type='checkbox', name='stat4')
            br 
            label.5  statistic 5
            input.stat5(type='checkbox', name='stat5')
            br 
            label.6  statistic 6
            input.stat6(type='checkbox', name='stat6')
            br
            label.7  statistic 7
            input.stat7(type='checkbox', name='stat7')
            br 
            label.8  statistic 8
            input.stat8(type='checkbox', name='stat8')
            br
            label.9  statistic 9
            input.stat9(type='checkbox', name='stat9')
            br
            label.10 statistic 10
            input.stat10(type='checkbox', name='stat10')
            br
            button(type='submit') Set Stat Preferences
            
      section.betHistory
        h1
        h2 Betting History:
        //unordered list with li for individual bets,
        ul.betHistory
          li.bet1 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet2 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet3 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet4 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet5 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet6 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet7 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet8 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
      section.accountBalance
        h1
        h2 Current Account Balance:
          p.userBalance $ Currently...you are totally broke
          //user balance object could go here #{user.balance}
