extends layout

block content
    //img application icon
    //h1 application name
    section.userInfo
      h1.username Username: #{user.username} 
    //img
    section.statPreferences
      div.prefContainer
        h1 Current Preferences
        div.currentPrefContainer
          each preference in preferences
            span.currentPref #{preference.name} 
          
    
      div.statContainer
        h2.title Statistical Preferences:
        form(class='stats statUpdate' method='post' action='/profile')
          label Change your stat preferences
          checkboxes.preferencesListProfile 
            
            label  Box Score Statistics 
            input.stat1(type='checkbox', name='stat', value="1")
            
          
            label  Average Offense and Defense Efficiency 
            input.stat2(type='checkbox', name='stat' value="2")
             
            
            label  Average Offense and Defense Efficiency Season View
            input.stat3(type='checkbox', name='stat', value="3")
            
            
            label  Missed, Jump, and Layup Shots
            input.stat4(type='checkbox', name='stat', value="4")
             
              
            label  SportVU Stats
            input.stat5(type='checkbox', name='stat', value="5")
             
              
            label  Four Factor Stats
            input.stat6(type='checkbox', name='stat', value="6")
            
              
            label  Points eakdown
            input.stat7(type='checkbox', name='stat', value="7")
             
            label  statistic 8
            input.stat8(type='checkbox', name='stat', value="8")
             
            label  statistic 9
            input.stat9(type='checkbox', name='stat', value="9")
             
            label statistic 10
            input.stat10(type='checkbox', name='stat', value="10")
            
            button(type='submit') Set Stat Preferences
            
      section.betHistory
        h1
        h2 Betting History:
        //unordered list with li for individual bets,
        ul.betHistory
          li.bet1 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet2 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet3 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet4 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet5 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet6 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet7 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet8 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
      section.accountBalance
        h1
        h2 Current Account Balance:
          p.userBalance $ Currently...you are totally broke
          //user balance object could go here #{user.balance}
