extends layout

block content
    //img application icon
    //h1 application name
    section.userInfo
      h1.noshow Username
      p.username Username: 
        span.usernameDisplay #{user.username} 
    //img
    section.statPreferences
      h1.noshow Current Stat Preferences
      div.prefContainer
        p.currentPref Your Current Preferences
        div.currentPrefContainer
          each preference in preferences
            span.currentPref #{preference.name} 
          
    
      div.statContainer
        p.changePref Change Your Preferences
        form(class='stats statUpdate' method='post' action='/profile')
          checkboxes.preferencesListProfile 
            
            label  Box Score Statistics 
            input.stat1(type='checkbox', name='stat1')
            
          
            label  Average Offense and Defense Efficiency 
            input.stat2(type='checkbox', name='stat2')
             
            
            label  Average Offense and Defense Efficiency Season View
            input.stat3(type='checkbox', name='stat3')
            
            
            label  Missed, Jump, and Layup Shots
            input.stat4(type='checkbox', name='stat4')
             
              
            label  SportVU Stats
            input.stat5(type='checkbox', name='stat5')
             
              
            label  Four Factor Stats
            input.stat6(type='checkbox', name='stat6')
            
              
            label  Points eakdown
            input.stat7(type='checkbox', name='stat7')
             
            label  statistic 8
            input.stat8(type='checkbox', name='stat8', value="8")
             
            label  statistic 9
            input.stat9(type='checkbox', name='stat9')
             
            label statistic 10
            input.stat10(type='checkbox', name='stat10')
            
            br
            button.setPref(type='submit') Set New Preferences
            
      
