extends layout

block content
    //img application icon
    //h1 application name
    section.userInfo
      h1 Username: #{user.username} 
    //img
    section.statPreferences
      h1.currentPref
      
    
      h1
      h2.title Statistical Preferences:
      form(class='stats statUpdate' method='post' action='/profile')
        
        label Category 1:
        radiogroup.category1 
          label  statistic 1
          input.stat1(type='radio' name='stat1')
          label  statistic 2
          input.stat2(type='radio' name='stat2') 
          label  statistic 3
          input.stat3(type='radio' name='stat3')
        
        label Category 2: 
        radiogroup.category2 
          label  statistic 4 
          input.stat4(type='radio' name='stat4') 
          label  statistic 5
          input.stat5(type='radio' name='stat5') 
          label  statistic 6
          input.stat6(type='radio' name='stat6')
        
        label Category 3:
        radiogroup.category3
          label  statistic 7
          input.stat7(type='radio' name='stat7') 
          label  statistic 8
          input.stat8(type='radio' name='stat8') 
          label  statistic 9
          input.stat9(type='radio' name='stat9') 
        
        label Category 4:
        radiogroup.category4
          label  statistic 10
          input.stat10(type='radio' name='stat10')
          label  statistic 11
          input.stat11(type='radio' name='stat11')             
          label  statistic 12
          input.stat12(type='radio' name='stat12') 
        
        label Category 5:
        radiogroup.category5  
          label  statistic 13
          input.stat13(type='radio' name='stat13') 
          label  statistic 14
          input.stat14(type='radio' name='stat14')
        
        label Category 6:
        radiogroup.category6
          label  statistic 15
          input.stat15(type='radio' name='stat15') 
          label  statistic 16
          input.stat16(type='radio' name='stat16') 
        
        button(type='submit' class='updateStats') Set New Preferences
      section.betHistory
        h1
        h2 Betting History:
        //unordered list with li for individual bets,
        ul.betHistory
          li.bet1 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet2 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet3 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet4 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet5 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet6 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet7 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
          li.bet8 date MM/DD/YYYY |  bet amount: $ |  resulting balance: $
      section.accountBalance
        h1
        h2 Current Account Balance:
          p.userBalance $ Currently...you are totally broke
          //user balance object could go here #{user.balance}
