extends layout

block content
    //img application icon
    //h1 application name
    section.userInfo
      h1.noshow Username
      p.username Username: 
        span.usernameDisplay #{user.username} 
    //img
    section.statPreferences
      h1.noshow Current Stat Preferences
      div.prefContainer
        p.currentPref Your Current Preferences
        div.currentPrefContainer
          each preference in preferences
            span.currentPref #{preference.name} 
          
    
      div.statContainer
        p.changePref Change Your Preferences
        form(class='stats statUpdate' method='post' action='/profile')
          checkboxes.preferencesListProfile 

            label  Box Score Statistics 
            input.stat1(type='checkbox', name='boxScore')
            
          
            label  Average Offense and Defense Efficiency 
            input.stat2(type='checkbox', name='compareEff')
             
            
            label  Defense Efficiency 2015 Season View
            input.stat3(type='checkbox', name='deffEffOverTime')
            
            label  Jump, Hook, and Layup Shot Chart
            input.stat4(type='checkbox', name='shotCharts')
             
              
            label  SportVU Stats
            input.stat5(type='checkbox', name='SportsVu')
             
              
            label  Four Factor Stats
            input.stat6(type='checkbox', name='team4factor')
            
              
            label  Offensive Efficiency 2015 Season View
            input.stat7(type='checkbox', name='offEffOverTime')
             
            label  Points Breakdown History
            input.stat8(type='checkbox', name='teamMisc')
             
            label  Missed vs Made Shots History
            input.stat9(type='checkbox', name='missHit')
             
            label Location of Shots History
            input.stat10(type='checkbox', name='shooting')
            
            br
            button.setPref(type='submit') Set New Preferences
            
      
