doctype html
html
  head
    title=preferences
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
    secton.top
      h1=versus
      h2=Basketball Stats
      img.icon
      img.team1logo
      img.team2logo
      img.userAvatar
    section.data
      div
      div
      div
      div
      div
      div
      div
      div
      div
      div
      div
      div
      div
      div
      div
    section
      img.predictionElement
    section
      div
      div
      div
      button.submitBet(action='/submtit' type='submit')
    
    
      
  
