
extends layout

block content


    section.teamLogos
      h1.vs versus
      h2.stats Basketball Stats

      img.team1logo 
    section.statContainer
      div.statVisualization
  section.predictionContainer
      img.predictionElement
    section.betContainer
      div.betElement1
      div.betElement2
      div.betElement3
      button.submitBet(action='/submit' type='submit') Submit Bet
    
    
      
  
