extends layout

block content
  h1= basketstats
  section.teamChoice
    div
      h1.searchMessage Choose two teams to display a comparison
      form(method='post', action='/search')    
        select.searchTeam1(name="firstTeam")
          option(label="Atlanta Hawks", value="ATL") 
          option(label="Boston Celtics", value="BOS")
          option(label="Brooklyn Nets", value="BKN")
          option(label="Charlotte Hornets", value="CHA")
          option(label="Chicago Bulls", value="CHI")
          option(label="Cleveland Cavaliers", value="CLE")
          option(label="Dallas Mavericks", value="DAL")
          option(label="Denver Nuggets", value="DEN")
          option(label="Detroit Pistons", value="DET")
          option(label="Golden State Warriors", value="GSW")
          option(label="Houston Rockets", value="HOU")
          option(label="Indiana Pacers", value="IND")
          option(label="Los Angeles Clippers", value="LAC")
          option(label="Los Angles Lakers", value="LAL")
          option(label="Memphis Grizzlies", value="MEM")
          option(label="Miami Heat", value="MIA")
          option(label="Milwaukee Bucks", value="MIL")
          option(label="Minnesota Timberwolves", value="MIN")
          option(label="New Orleans Pelicans", value="NOP")
          option(label="New York Knicks", value="NYK")
          option(label="Oklahoma City Thunder", value="OKC")
          option(label="Orlando Magic", value="ORL")
          option(label="Philadelphia 76ers", value="PHI")
          option(label="Phoenix Suns", value="PHX")
          option(label="Portland Trailblazers", value="POR")
          option(label="Sacramento Kings", value="SAC")
          option(label="San Antonio Spurs", value="SAS")
          option(label="Toronto Raptors", value="TOR")
          option(label="Utah Jazz", value="UTA")
          option(label="Washington Wizards", value="WAS")
        select.searchTeam2(name="secondTeam")
          option(label="Atlanta Hawks", value="ATL") 
          option(label="Boston Celtics", value="BOS")
          option(label="Brooklyn Nets", value="BKN")
          option(label="Charlotte Hornets", value="CHA")
          option(label="Chicago Bulls", value="CHI")
          option(label="Cleveland Cavaliers", value="CLE")
          option(label="Dallas Mavericks", value="DAL")
          option(label="Denver Nuggets", value="DEN")
          option(label="Detroit Pistons", value="DET")
          option(label="Golden State Warriors", value="GSW")
          option(label="Houston Rockets", value="HOU")
          option(label="Indiana Pacers", value="IND")
          option(label="Los Angeles Clippers", value="LAC")
          option(label="Los Angeles Lakers", value="LAL")
          option(label="Memphis Grizzlies", value="MEM")
          option(label="Miami Heat", value="MIA")
          option(label="Milwaukee Bucks", value="MIL")
          option(label="Minnesota Timberwolves", value="MIN")
          option(label="New Orleans Pelicans", value="NOP")
          option(label="New York Knicks", value="NYK")
          option(label="Oklahoma City Thunder", value="OKC")
          option(label="Orlando Magic", value="ORL")
          option(label="Philadelphia 76ers", value="PHI")
          option(label="Phoenix Suns", value="PHX")
          option(label="Portland Trailblazers", value="POR")
          option(label="Sacramento Kings", value="SAC")
          option(label="San Antonio Spurs", value="SAS")
          option(label="Toronto Raptors", value="TOR")
          option(label="Utah Jazz", value="UTA")
          option(label="Washington Wizards", value="WAS")
        button(type='submit' id="searchButton") 
            p.go GO

  section.teams
    div.teamDisplay
      div.team1Display
        img(id='team1image')
      div.team2Display
        img(id='team2image')
  div.loadingHolder
    img(src='http://sierrafire.cr.usgs.gov/images/loading.gif' class='loadingImg')
      
  div(id='resultsDiv')

      
