extends layout

block content
  h1= title
  p Welcome to #{title}
  section.teamChoice
    div
      h1.searchMessage Choose two teams to display a comparison, choose one team to view stats only
      form(method='post', action='/search')    
        select.searchTeam1
          option(label="Atlanta Hawks", name)
          option(label="Boston Celtics")
          option(label="Brooklyn Nets")
          option(label="Charlotte Hornets")
          option(label="Chicago Bulls")
          option(label="Cleveland Cavaliers")
          option(label="Dallas Mavericks")
          option(label="Denver Nuggets")
          option(label="Detroit Pistons")
          option(label="Golden State Warriors")
          option(label="Houston Rockets")
          option(label="Indiana Pacers")
          option(label="Los Angeles Clippers")
          option(label="Los Angles Lakers")
          option(label="Memphis Grizzlies")
          option(label="Miami Heat")
          option(label="Milwaukee Bucks")
          option(label="Minnesota Timberwolves")
          option(label="New Orleans Pelicans")
          option(label="New York Knicks")
          option(label="Oklahoma City Thunder")
          option(label="Orlando Magic")
          option(label="Philadelphia 76ers")
          option(label="Phoenix Suns")
          option(label="Portland Trailblazers")
          option(label="Sacramento Kings")
          option(label="San Antonio Spurs")
          option(label="Toronto Raptors")
          option(label="Utah Jazz")
          option(label="Whashington Wizards")
        select.searchTeam2
          option(label="Atlanta Hawks")
          option(label="Boston Celtics")
          option(label="Brooklyn Nets")
          option(label="Charlotte Hornets")
          option(label="Chicago Bulls")
          option(label="Cleveland Cavaliers")
          option(label="Dallas Mavericks")
          option(label="Denver Nuggets")
          option(label="Detroit Pistons")
          option(label="Golden State Warriors")
          option(label="Houston Rockets")
          option(label="Indiana Pacers")
          option(label="Los Angeles Clippers")
          option(label="Los Angles Lakers")
          option(label="Memphis Grizzlies")
          option(label="Miami Heat")
          option(label="Milwaukee Bucks")
          option(label="Minnesota Timberwolves")
          option(label="New Orleans Pelicans")
          option(label="New York Knicks"  )
          option(label="Oklahoma City Thunder")
          option(label="Orlando Magic")
          option(label="Philadelphia 76ers")
          option(label="Phoenix Suns")
          option(label="Portland Trailblazers")
          option(label="Sacramento Kings")
          option(label="San Antonio Spurs")
          option(label="Toronto Raptors")
          option(label="Utah Jazz")
          option(label="Whashington Wizards")
        button(type='submit') GO
  section.teamDisplay
    div
      div.team1Display
      div.team2Display
    div

      
