extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/logout') logout
  section.teamChoice
    div
      h1.searchMessage Choose two teams to display a comparison, choose one team to view stats only
      form(method='post', action='/search')    
        select.searchTeam1(name="searchTerm")
          option(label="Atlanta Hawks", value="Atlanta Hawks") 
          option(label="Boston Celtics", value="Boston Celtics")
          option(label="Brooklyn Nets", value="Brooklyn Nets")
          option(label="Charlotte Hornets", value="Charlotte Hornets")
          option(label="Chicago Bulls", value="Chicago Bulls")
          option(label="Cleveland Cavaliers", value="Cleveland Cavaliers")
          option(label="Dallas Mavericks", value="Dallas Mavericks")
          option(label="Denver Nuggets", value="Denver Nuggets")
          option(label="Detroit Pistons", value="Detroit Pistons")
          option(label="Golden State Warriors", value="Golden State Warriors")
          option(label="Houston Rockets", value="Houston Rockets")
          option(label="Indiana Pacers", value="Indiana Pacers")
          option(label="Los Angeles Clippers", value="Los Angeles Clippers")
          option(label="Los Angles Lakers", value="Los Angles Lakers")
          option(label="Memphis Grizzlies", value="Memphis Grizzlies")
          option(label="Miami Heat", value="Miami Heat")
          option(label="Milwaukee Bucks", value="Milwaukee Bucks")
          option(label="Minnesota Timberwolves", value="Minnesota Timberwolves")
          option(label="New Orleans Pelicans", value="New Orleans Pelicans")
          option(label="New York Knicks", value="New York Knicks")
          option(label="Oklahoma City Thunder", value="Oklahoma City Thunder")
          option(label="Orlando Magic", value="Orlando Magic")
          option(label="Philadelphia 76ers", value="Philadelphia 76ers")
          option(label="Phoenix Suns", value="Phoenix Suns")
          option(label="Portland Trailblazers", value="Portland Trailblazers")
          option(label="Sacramento Kings", value="Sacramento Kings")
          option(label="San Antonio Spurs", value="San Antonio Spurs")
          option(label="Toronto Raptors", value="Toronto Raptors")
          option(label="Utah Jazz", value="Utah Jazz")
          option(label="Whashington Wizards", value="Whashington Wizards")
        select.searchTeam2(name="searchTerm2")
          option(label="Atlanta Hawks", value="Atlanta Hawks") 
          option(label="Boston Celtics", value="Boston Celtics")
          option(label="Brooklyn Nets", value="Brooklyn Nets")
          option(label="Charlotte Hornets", value="Charlotte Hornets")
          option(label="Chicago Bulls", value="Chicago Bulls")
          option(label="Cleveland Cavaliers", value="Cleveland Cavaliers")
          option(label="Dallas Mavericks", value="Dallas Mavericks")
          option(label="Denver Nuggets", value="Denver Nuggets")
          option(label="Detroit Pistons", value="Detroit Pistons")
          option(label="Golden State Warriors", value="Golden State Warriors")
          option(label="Houston Rockets", value="Houston Rockets")
          option(label="Indiana Pacers", value="Indiana Pacers")
          option(label="Los Angeles Clippers", value="Los Angeles Clippers")
          option(label="Los Angles Lakers", value="Los Angles Lakers")
          option(label="Memphis Grizzlies", value="Memphis Grizzlies")
          option(label="Miami Heat", value="Miami Heat")
          option(label="Milwaukee Bucks", value="Milwaukee Bucks")
          option(label="Minnesota Timberwolves", value="Minnesota Timberwolves")
          option(label="New Orleans Pelicans", value="New Orleans Pelicans")
          option(label="New York Knicks", value="New York Knicks")
          option(label="Oklahoma City Thunder", value="Oklahoma City Thunder")
          option(label="Orlando Magic", value="Orlando Magic")
          option(label="Philadelphia 76ers", value="Philadelphia 76ers")
          option(label="Phoenix Suns", value="Phoenix Suns")
          option(label="Portland Trailblazers", value="Portland Trailblazers")
          option(label="Sacramento Kings", value="Sacramento Kings")
          option(label="San Antonio Spurs", value="San Antonio Spurs")
          option(label="Toronto Raptors", value="Toronto Raptors")
          option(label="Utah Jazz", value="Utah Jazz")
          option(label="Whashington Wizards", value="Whashington Wizards")
        button(type='submit' id="searchButton") GO
  section.teamDisplay
    div
      div.team1Display
      div.team2Display
    div

      
