extends layout

block content
  h1= title
  p Welcome to #{title}
  
  
  form(name="searchtest", method="post")
    div.input
      span.label Search For Player
      input(type="text", name="searchName", id="searchName")
    div.actions
      input(type="submit", value="Search", id="playerSearchButton")
  a(href='/logout') logout
