.chart, .bball{
  width:12vw;
  height:12vw;
  margin:0;
}

 .money {
   width:10vw;
   height:12vw;
   margin:0;
 }

.tagline, .appName{
  color:$green
}

.icon {
  width:8vw
}

.iconContainer {
  display: flex;
  justify-content:space-around;
  width: 100%;
  margin-bottom: 1vw;
}
