.chart, .bball{
  width:12vw;
  height:12vw;
  margin:0;
}

 .money {
   width:10vw;
   height:12vw;
   margin:0;
 }

.tagline, .appName{
  color:$green
}

.appName{
  margin-top: 3vw;
  padding-left: 2vw;
}

.iconContainer {
  display: flex;
  justify-content:space-around;
  width: 100%;
  margin-bottom: 1vw;
}

input {
  margin: 1vw;
  height: 2vw;
}
