

* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family:$basic;
	}

header{
  display: flex;
	color: $green;
  flex-direction: row;
	background-color: $black;
}

body{
	background-color: $darkgray;
}

.user-icon{
  border-radius: 50%;
}

.iconBig{
	width: 8vw;
	height: 8vw;
}

.iconSmall{
	width: 3vw;
	height: 3vw;
}

.banner{
  display: flex;
  flex-direction: column;
	background-color: $black;
  align-items: center;
}

.nameHolder{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%
}

.taglineContainer{
	height:4vw;
}

.btnHolders{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	margin:4vw;
}

.startAction{
  display: none;
  flex-direction: column;
  align-items: center;
}

.action{
	width: 6vw;
	height: 3vw;
	color: $darkgray;
	background-color: $green;
	border-radius: 15%;
}

.more-info{
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
}

.holders{
  display: flex;
  justify-content: center;
  width: 100%
}

.infoTip{
  width: 30%;
}

.active{
  display: flex;
}

.active1{
  display: inline;
}



/*
===================
NAV BAR
===================
*/

nav {
	width:13em;
  margin:2em auto;
	background-color: hsla(360, .4, .4, .7);
  box-shadow: 0 0 4px rgba(0,0,0,.15);
	list-style: none;
}


.drop {
	position: relative;
	font-size: 1em;
	cursor: pointer;

   a {
	   font-weight: 400;
	   line-height: 5em;
	   padding: 0 1em;
	   color: lighten(black,30%);
     text-decoration:none;
  }
}

.dropdownContain {
	width: 13em;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -6.5em;
	top: -300px;

}
.dropOut {
	width: 13em;
	background:#f6f6f6;
	float: left;
	position: relative;
	margin-top: 0;
	opacity: 0;
	box-shadow: 0 0 4px rgba(0,0,0,.15);
  border:1px solid rgba(white, .75) ;
  overflow:hidden;

  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

 ul {
	padding: .3em 0;
	margin:0
 }

}

.dropOut li {
	text-align: left;
	width: 100%;
	padding: .6em 0 ;
	color: darken(#fff, 50%);
	border-left:3px solid #f7f7f7;

  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
		span{
		 color: darken(#fff, 20%);
		 margin: 0 1.5em 0 .8em;
		}
	&:hover{
	  border-color: lighten(#FFB135,10%);
	  color: darken(#fff, 70%);
	  background: darken(#f7f7f7,4%);

	  span{
		 color:darken(#fff, 50%)
	  }
	}
}

ul li:hover .dropdownContain { top: 30px; }
ul li:hover .dropOut { opacity: 1; margin-top:20px;}
