
* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family:$basic;
	}

header{
  display: flex;
	color: $green;
  flex-direction: row;
	background-color: $black;
}

body{
	background-color: $darkgray;
}


.user-icon{
  border-radius: 50%;
}

.iconBig{
	width: 8vw;
	height: 8vw;
}

.iconSmall{
	width: 3vw;
	height: 3vw;
}

.user-icon {
  border-radius: 50%;
	width: 10vw;
}

.nameHolder{
	flex-grow: .5;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%
}

.appName{
	font-size: 3vw;
	margin-top: 2vw;
	padding-left: 2vw;
	color: $green;
}

.startAction{
  display: none;
  flex-direction: column;
  align-items: center;
}

.holders{
  display: flex;
  justify-content: center;
  width: 100%
}

.active{
  display: flex;
}

.active1{
  display: inline;
}



/*
===================
NAV BAR
===================
*/

nav {
	width:10vw;
	margin:2em auto;
	margin-left: 66vw;
	margin-right:1vw;
	background-color: hsla(360, .4, .4, .7);
  box-shadow: 0 0 4px rgba(0,0,0,.15);
	list-style: none;
	font-size: 1vw;
}


.drop {
	position: relative;
	font-size: 1em;
	cursor: pointer;

   a {
	   font-weight: 400;
	   line-height: 5em;
	   padding: 0 1em;
	   color: lighten(black,30%);
     text-decoration:none;
  }
}

.dropdownContain {
	width: 10vw;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -6vw;
	top: -30vw;

}
.dropOut {
	width: 10vw;
	background: $lightgray;
	float: left;
	position: relative;
	margin-top: 0;
	opacity: 0;
	box-shadow: 0 0 4px rgba(0,0,0,.15);
  border:1px solid rgba(white, .75) ;
  overflow:hidden;

  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

 ul {
	padding: .25vw;
	margin:0
 }

}

.dropOut li {
	text-align: left;
	width: 100%;
	padding: .6em 0 ;
	color: darken(#fff, 50%);
	border-left:3px solid #f7f7f7;

  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
		span{
		 color: darken(#fff, 20%);
		 margin: 0 1.5em 0 .8em;
		}
	&:hover{
	  border-color: lighten(#FFB135,10%);
	  color: $white;
	  background: $green;

	  span{
		 color:$white
	  }
	}
}

ul li:hover .dropdownContain { top: 30px; }
ul li:hover .dropOut { opacity: 1; margin-top:20px;}
