body{
	background-color: $darkgray;
}

.pleaseSet{
  padding-left: 5vw;
  color: $green;
}

.chooseStatLabel{
 padding-left: 5vw;
 margin-bottom: 2vw;
 color: $green;
}

.initialPref{
  width: 10vw;
  font-size: 1vw;
  border: solid .2vw $white;
  background-color: $green;
  box-shadow: 0px 5px 0px $black;
  border-radius: 5%;
}

.preferencesList{
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-top: 1vw;
}

label{
  color: $lightgray;
}
