.title{
  color: $white;
}

.userInfo{
color: $white;
}

.statPreferences{
color: $white;
}

.category1{
color: $white;
}
.category2{
color: $white;
}
.category3{
color: $white;
}
.category4{
color: $white;
}
.category5{
color: $white;
}
.category6{
color: $white;
}
