.title{
  color: $white;
}
//h1 for section that will not be displayed
.noshow{
  display: none
}

.username{
  margin-left: 2vw;
  font-size: 2vw;
  color: $white
}

.usernameDisplay{
  color: $green;
}

.userInfo{
color: $white;
}

.statPreferences{
color: $white;
}

.statContainer{
  margin: 2vw;
}

span.currentPref{
  color: $green;
}

.prefContainer{
display: flex;
margin-top: 1vw;
}

.currentPrefContainer{

}

.preferenceListProfile{
  display: flex;
  flex-direction: row;
  color: green;
  margin: 3vw;
}

.currentPref{
  margin-left: 2vw;
  color: $white;
}

.currentPrefp{
  margin-left: 2vw;
}

.changePref{

}
//current stat preferences
.stats{
  display:flex;
  flex-direction: column;
  font-size: 1vw;
  color: $green;
}
//catagory labels
.cat1, .cat2, .cat3, .cat4, .cat5, .cat6 {
color: $green;
font-size: 3vw;
}
//stat radio button labels
input.stat1, input.stat2, input.stat3, input.stat4, input.stat5, input.stat6, input.stat7, input.stat8, input.stat9, input.stat10 {
  color: $green;
  width: 2vw;
}

.setPref{
  width: 10vw;
  font-size: 1vw;
  border: solid .2vw $white;
  background-color: $green;
  box-shadow: 0px 5px 0px $black;
  border-radius: 5%;
}
