.title{
  color: $white;
}

.userInfo{
color: $white;
}

.statPreferences{
color: $white;

}

.currentPrefContainer{
  display:flex;
  flex-direction: row;
  width: 100%;
}

.currentPref{
  margin: 2vw;
  display:relative;
}
//current stat preferences
.stats{
  display:flex;
  flex-direction: column;
  font-size: 4em;
}
//catagory labels
.cat1, .cat2, .cat3, .cat4, .cat5, .cat6 {
color: $green;
font-size: 2em;
}
//stat radio button labels
label.1 {
  color: $lightgray;
  font-size: 5em;
}

.betHistory {
}
