.searchTeam1, .searchTeam2 {
    margin: 2vw;
    color: $white;
    font-size: 2vw;
}

.searchTeam1{
  background-color: $red;
}

.searchTeam2{
  background-color: $blue
}

.teamChoice{
  display:flex;
  flex-direction: column;
  align-items: center;
}


.teamDisplay{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.team1Logo{

}

.team2Logo{

}

.team1Display{
  flex-direction: row;
  height: 30vw;
  border: 1px;
  background-color: $red;
  width: 30vw;
  border-radius: 20vw;
}

.team2Display{
  flex-direction: row;
  height: 30vw;
  border: 1px;
  background-color: $blue;
  width: 30vw;
  border-radius: 20vw;
}

.searchButton{
  width: 8vw;

}
