/*
=================
COLORS
=================
*/

$white: hsla(360, .4, .4, .7);

$graphite: #444434;

$lightgray: #bfbfbf;



/*
=================
FONTS
=================
*/


//$basic: 'Gentium Book Basic', serif;
// <link href='https://fonts.googleapis.com/css?family=Poiret+One|Gentium+Book+Basic' rel='stylesheet' type='text/css'>
