/*
=================
COLORS
=================
*/

$white: hsla(360, 40%, 40%, .7);

$darkgray: hsla(60, 13%, 24%, 1.0);

$lightgray: hsla(0, 9%, 75%, 1.0);

$green: #2AC65B;

/*
=================
FONTS
=================
*/

$basic: ;

//$basic: 'Gentium Book Basic', serif;
// <link href='https://fonts.googleapis.com/css?family=Poiret+One|Gentium+Book+Basic' rel='stylesheet' type='text/css'>

/*
=================
images
=================
*/
