/*
=================
COLORS
=================
*/

$white: #fff;

$darkgray: #3a3a3a;

$lightgray: #e6e6e6;

$green: #00cc00;

$black: #000;

/*
=================
FONTS
=================
*/

$basic: 'Exo 2', sans-serif;

//$basic: 'Gentium Book Basic', serif;
// <link href='https://fonts.googleapis.com/css?family=Poiret+One|Gentium+Book+Basic' rel='stylesheet' type='text/css'>

/*
=================
images
=================
*/
