//colors
$steel_blue: steelblue;
$gray: grey;

//fonts
$font_0: Arial;

//@extend-elements
//original selectors
//.axis path, .axis line
%extend_1 {
	fill: none;
	stroke: $gray;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
