* {
	padding: 0;
	margin: 0;
	border: 0;
	}
header{
  display: flex;
  background-color: hsla(360, .4, .4, .7);
  flex-direction: row;
}

.user-icon{
  border-radius: 50%;
}

.logo{
  flex-grow: 1;
}

.banner{
  display: flex;
  flex-direction: column;
  background-color: red;
  align-items: center;
  height: 300px;
}

.nameHolder{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%
}

.btnHolders{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.startAction{
  display: none;
  flex-direction: column;
  align-items: center;
}

.more-info{
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
}

.holders{
  display: flex;
  justify-content: center;
  width: 100%
}

.infoTip{
  width: 30%;
}

.dropDownMenu1{
  display:none;
  background-color: red;
}

.active{
  display: flex;
}

.active1{
  display: inline;
}
